DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kiosk_admin"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2FwYWJsZS1idWNrLTQzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_qztwcyA1ltX0fBnwcb25gw8HH5jNzO9zMaOT5vSK4W
